*{
    margin:0;
    padding: 0;
    color: rgb(31, 32, 41);
    box-sizing: border-box;

}
.welcome{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.001),rgba(4,9,30,0.001)), url(pexels-photo-10753291.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    
   
  
}   
.welcome h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/*navigation bar*/

li,a,button{
    font-weight: 550;
    font-size: 16px;
    color: black;
    text-decoration: none;
    
}
header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(250, 250, 250);
    height: 20px;
    border:0.0001px solid rgb(189, 172, 172);
    

}
.logo{
    cursor: pointer;
   width: 60px;
   height: 50px;
    margin-right: auto;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
color: rgb(95, 0, 158);
}
button{
    padding: 9px 25px;
    background-color: rgba( 0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}
button:hover{
    background-color: rgba( 0,136,169,0.8);
}
/*PLACES*/
.places{
    width:80%;
    margin:auto;
    padding-top: 100px;

}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 36px;

}
.row{
    margin:5%;
    display: flex;
    justify-content: space-around;
}
.places-col{
    flex-basis:31%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.places-col img{
    width: 100%;
    display: block;
    height: 100%;
}
.video{
   text-align: center;
   padding-top: 70px;

}
.video h3{
    font-size: 30px;
}
.video-kathmandu{
display: flex;

justify-content: center;
}
.video-kathmandu video{
    border-radius: 34px;
}